apiVersion: "cilium.io/v2"
kind: CiliumNetworkPolicy
metadata:
  name: ztp-cuda-rule
  namespace: gpu
spec:
  description: "ZTP policy to only allow egress traffic to DNS via coredns pods"
  endpointSelector:
    matchLabels:
      app: cuda
  egress:
    - toEndpoints:
        - matchLabels:
            k8s-app: kube-dns
      toPorts:
        - ports:
            - port: "53"
              protocol: UDP
            - port: "53"
              protocol: TCP
